@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    90deg,
    #129c47,
    #f0aa2e,
    #d92e33,
    #0a0b09,
    #326ba6
  );
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
